.sideBarBlock {
    box-sizing: border-box;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: gray;
    z-index: 5;
    padding: 5px;
    transition: left 0.7s ease;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.sideBar-hidden {
    /*transition: left 0.5s ease;*/
    left: -200px;
}

.sideBarBtn {
    cursor: pointer;
    width: 10px;
    height: 10px;
    padding: 15px;
    position: absolute;
    top: 30px;
    right: -60px;
    background-color: gray;
    border-radius: 45%;
    /*z-index: 4;*/
}

.sideBarBtn:hover {
    transition: transform 0.2s ease;
    transform: scale(1.1);

}

.arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    transition: transform 0.7s ease;
}

.right {
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: transform 0.7s ease;
}

.sideBarModSwitch {

    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 10px 0;
    background-color: gray;
    /*border: 1px solid black;*/
}

.sideBarModSwitch > button {
    height: 100%;
    font-size: 16px;
    min-width: 60px;
    background-color: darkgrey;
    align-items: center;
    border-radius: 10px;
    padding: 0px;
    margin: 0 10px;
    cursor: pointer;
}

.sideBarModSwitch > button:hover {
    background: linear-gradient(145deg, #6495ed, #5a86d8);
}

.sideBarModSwitchActive {
    background: linear-gradient(145deg, #6495ed, #5a86d8);
    box-shadow: 0 2px #4c72b0;
}

.sideBarContent {
    max-width: 100%;
    overflow: hidden;
    display: flex;
}

.sideBarContent > div {
    position: relative;
    min-width: 100%;
    transition: left 0.5s ease;
    left: 0;
    top: 0;
}

.sideBarContentPosition {
    left: -187px !important;
}
